.nav-link.inner {
    color: black;
    padding-left: 25px;
}

.nav-link.inner:hover, .nav-link.inner:focus {
    text-decoration: underline;
  }


.navbar-custom { 
    background-color: #ADD8E6; 
} 