.nav-link.inner {
    color: black;
    padding-left: 25px;
}

.nav-link.inner:hover {
    color:#db9a32;
  }


.navbar-custom { 
    background-color: #ADD8E6; 
} 
.navbar-toggler:hover{
    color:#db9a32;
    
}