	<section id = "homepage">
		<h2 class="homepage-title">Shamir’s secret sharing scheme Application</h2>
		<div class="homepage-subtitle">
			<p>
                Welcome to our FYP Project
            </p>
            <p>
				<br />by CD1
			</p>
		</div>
		<div class="tm-next tm-intro-next">
			<a href="#introduction" class="text-center tm-down-arrow-link">
			  <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
			</a>
		  </div>
		</section>

		<section id="introduction" class="tm-section-pad-top">
			<div class="container">
			  <div class="row">
				<div class="col-lg-6s">
				  <img src="https://www.cse.ust.hk/admin/logos/COMP_FYP_Logo_1200dpi.png" alt="Image" class="img-fluid tm-intro-img">
				</div>
				<div class="col-lg-6s">
				  <div class="tm-intro-text-container">
					  <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
					  <p class="mb-4 tm-intro-text">
						Hi everyone, we are Han Chi Chiu, Lee Kin Ming, Lee Tsz Leung. Welcome to our FYP webpage. In here, you 
									can learn more about Shamir's Secret Sharing Scheme and get a hand on experience of how
									this encryption method can benifit you daily lift and make you secret security. Let's go!
					</p>
					  
		</div></div></div></div></section>
	<section>
		<div class="tm-intro-text-container">
			<div class="col-lg-6s">
				<h2 class="tm-text-primary mb-4 tm-section-title">More Info about SSSS</h2>
			</div>
		</div>
		
		<section class="lazy slider" data-sizes="50vw">
			
			<ngx-slick-carousel class="carousel" [config]="slideConfig">
				<div ngxSlickItem *ngFor="let slide of slides" class="slide">
					  <table>
						<tr>
							<td>
								<h1>What is "Secret Sharing"?</h1>
								<p>
									In cryptograph, secret sharing refers to any method for distributing a
									secret among a group of participants, each of which allocates a share of the secret.
									The secret can only be reconstructed when the shares are combined together;
									individual shares are of no use on their own.
								</p>
								<p>
									The secret is opened only when specific conditions are fulfilled.
									 Each of n participants is given a number of share, and any group 
									 of t (threshold) or more shares together can open the secret but no group of less than t shares can.
								</p>
								<p>
									A secure secret sharing scheme distributes shares so that anyone with fewer than t shares has no more 
									information about the secret than someone with 0 shares. Consider the naive secret sharing scheme in which 
									the secret phrase "password" is divided into the shares "pa------," "--ss----," "----wo--," and "------rd,". 
									A person with 0 shares knows only that the password consists of eight letters. He would have to guess the password 
									from 268 = 208 billion possible combinations. A person with one share, however, would have to guess only the six letters 
									from 266 = 308 million combinations. This system is not a secure secret sharing scheme, because a player with less than t 
									shares gains significant information about the content of the secret. In a secure scheme, even a player missing only one 
									share should still face 268 = 208 billion combinations.
								</p>
							</td>
						</tr>
					</table>    
					
				</div>
				<div ngxSlickItem *ngFor="let slide of slides" class="slide">
					<table>
						<tr>
							<td>
								<h1>What is "SSSS"?</h1>
								<iframe src="https://www.youtube.com/embed/2pad1qbu_L0"></iframe>           
							</td>
						</tr>
					</table>
				</div>
			</ngx-slick-carousel>
		
		</section>
	</section>

