.mainBox{
    width: 80%; margin: auto; 
    border-style: initial;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2),0 12px 20px 0 rgba(0,0,0,0.2) ;
}

.alert.alert-danger{
    text-align:center ;
    // font-size: 5px;
}

// .imageInput{
//     content: 'Upload Image';
//     color: #ADD8E6;
    
// }
