<div class="container-fluid">
    <br>
    <div style="text-align: center;">
        <h1>Zip file Eccryption</h1>
    </div>

    <mat-divider></mat-divider>

    <br>
    <br>
    <div class="mainBox">

        <form [formGroup]="zipForm" (ngSubmit)="splitText()" id="background">
            <br>
            <div fxLayout='row' fxLayoutGap="20px" fxLayoutAlign="center center">
                <div class="attribute" [fxFlex]="desktop?25:35">
                    <div style=" text-align: center">
                        <label for="totalShare"><span *ngIf="this.desktop">Total shares &nbsp;</span></label>
                        <input type="number"  [placeholder]="desktop?'Number of shares':'n'" formControlName="totalShare"
                            [readonly]="received||loading" style="width: 50%;" min="1" max="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="totalShare.touched &&(zipForm.get('totalShare').value>20)">
                        Max. 20 shares are allowed
                    </div>
                    <div *ngIf="totalShare.touched && !totalShare.valid; else largerThan0">
                        <div class="alert alert-danger" *ngIf="totalShare.errors.required">Number of share is required
                        </div>
                    </div>
                    <ng-template #largerThan0>
                        <div class="alert alert-danger"
                            *ngIf="totalShare.touched &&(zipForm.get('totalShare').value<1)">Number of share must be
                            positive</div>
                    </ng-template>
                </div>
                <div class="attribute" [fxFlex]="desktop?25:35">
                    <div >
                        <label for="threshold" [ngStyle]=" desktop? {'padding-left': '15%;'}:{'padding-left': '20%;'} "><span *ngIf="this.desktop">Threshold &nbsp;</span></label>
                        <input type="number" [placeholder]="desktop?'Threshold number':'t'" formControlName="threshold"
                            [readonly]="received||loading" style="width: 50%;" min="1" max="20">
                    </div>
                    <div *ngIf="threshold.touched && !threshold.valid; else checkRange">

                        <div class="alert alert-danger">Threshold is required</div>
                    </div>
                    <ng-template #checkRange>
                        <div class="alert alert-danger"
                            *ngIf="threshold.touched &&(zipForm.get('threshold').value>zipForm.get('totalShare').value||zipForm.get('threshold').value<1)">
                            Threshold value invalid</div>
                    </ng-template>
                </div>
            </div>
            <br>

            <div class="attribute " style="margin: auto; text-align:center;" (change)="imageLoad($event)"
                *ngIf="!readImage">
                <br><br>
                <label for="imageInput" style="color: #ADD8E6">
                    <fa-icon [icon]="faUpload"></fa-icon>
                    Zip file Upload
                </label>
                <input type="file" id="imageInput" value="Upload image" accept=".zip" style="display: none;">
            </div>
            <div *ngIf="tooLarge">
                <div class="alert alert-danger">Uploaded zip file should under 15MB, please split/compress the current
                    file
                </div>
            </div>
            <div *ngIf="readImage" style="margin: auto; text-align:center;">
                <br>
                <!-- <img src={{imageURL}} style="width: 80%;  "> -->
                <h2 style="color: #ADD8E6">Zip file uploaded</h2>
                <fa-icon [icon]="faCheckCircle" style="color: chartreuse;"></fa-icon>
            </div>



            <!-- <div class="attribute " *ngIf="received">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="25" formControlName="secret"
                    style="font-size: 12;width: 80%;border-style: inset; margin-left: 10%;"
                    *ngIf="!received; else imageDownload"> </textarea>
                <br>
            </div> -->
            <br><br>
            <div *ngIf="received" style=" text-align: center;">
                <div class="attribute " *ngFor="let b of buffer; index as i;">

                    <fa-icon [icon]="faDownload"></fa-icon>
                    <a [href]="b" download="share{{i}}" style="color: #ADD8E6;">
                        Download share {{i}}
                    </a>


                </div>
            </div>
            <br><br>


            <button type="submit" mat-raised-button style="background-color: #ADD8E6; margin: auto;"
                [disabled]="zipForm.invalid||(threshold.touched &&(zipForm.get('threshold').value>zipForm.get('totalShare').value||zipForm.get('threshold').value<1)||(zipForm.get('totalShare').value>20))" fxLayoutAlign="space-evenly none"
                *ngIf="!this.received&&!loading;else Sharereceive">Split</button>

            <ng-template #Sharereceive>
                <button *ngIf="loading" type="button" mat-raised-button fxLayoutAlign="space-evenly none"
                    style="background-color:#ADD8E6; ;margin: auto;">Loading...</button>
                <!-- <button *ngIf="!loading" type="button" mat-raised-button
                    style="background-color: #ADD8E6; margin: auto;" fxLayoutAlign="space-evenly none"
                    [cdkCopyToClipboard]="this.zipForm.get('secret').value" (click)="isClick()">{{clipboard}}</button> -->
            </ng-template>
            <br>

        </form>

    </div>
</div>